.kitchen-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .kitchen-kitchen {
    width: 100%;
    height: 844px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    background-size: cover;
    background-image: url("/playground_assets/5fa944b1-7a31-45aa-929f-da94c35a5cb0-dhy-1500w.undefined");
  }
  .kitchen-text {
    top: 49px;
    left: 121px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: 25px;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle27 {
    top: 135px;
    left: 14px;
    width: 102px;
    height: 104px;
    position: absolute;
    border-radius: 23px;
  }
  .kitchen-text02 {
    top: 157px;
    left: 19px;
    color: rgba(0, 0, 0, 0.49000000953674316);
    height: auto;
    position: absolute;
    font-size: 11px;
    font-style: SemiBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle29 {
    top: 162px;
    left: 92px;
    width: 18px;
    height: 66px;
    position: absolute;
  }
  .kitchen-text07 {
    top: 195px;
    left: 29px;
    color: rgba(255, 0, 0, 0.5799999833106995);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-text09 {
    top: 215px;
    left: 33px;
    color: rgba(255, 0, 0, 0.5799999833106995);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle28 {
    top: 135px;
    left: 138px;
    width: 102px;
    height: 104px;
    position: absolute;
    border-radius: 23px;
  }
  .kitchen-rectangle30 {
    top: 135px;
    left: 262px;
    width: 102px;
    height: 104px;
    position: absolute;
    border-radius: 23px;
  }
  .kitchen-text11 {
    top: 157px;
    left: 151px;
    color: rgba(0, 0, 0, 0.46000000834465027);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 11px;
    font-style: SemiBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle31 {
    top: 172px;
    left: 203px;
    width: 23px;
    height: 51px;
    position: absolute;
  }
  .kitchen-text16 {
    top: 192px;
    left: 156px;
    color: rgba(0, 101, 255, 0.7099999785423279);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: SemiBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-text18 {
    top: 154px;
    left: 275px;
    color: rgba(0, 0, 0, 0.4000000059604645);
    width: 47px;
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: SemiBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle32 {
    top: 174px;
    left: 337px;
    width: 27px;
    height: 36px;
    position: absolute;
  }
  .kitchen-text23 {
    top: 191px;
    left: 275px;
    color: rgba(0, 101, 255, 0.9599999785423279);
    width: 53px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-text25 {
    top: 295px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    width: 114px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Manrope;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kitchen-rectangle33button {
    top: 348px;
    left: 59px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-rectangle34button {
    top: 348px;
    left: 224px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-rectangle35button {
    top: 486px;
    left: 59px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-rectangle36button {
    top: 486px;
    left: 224px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-rectangle37button {
    top: 603px;
    left: 55px;
    width: 101px;
    height: 120px;
    position: absolute;
  }
  .kitchen-rectangle38button {
    top: 624px;
    left: 227px;
    width: 101px;
    height: 82px;
    position: absolute;
  }
  .kitchen-rectangle39button {
    top: 746px;
    left: 63px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-rectangle40button {
    top: 746px;
    left: 236px;
    width: 101px;
    height: 90px;
    position: absolute;
  }
  .kitchen-vectorbutton {
    top: 41px;
    left: 337px;
    width: 25px;
    height: 40px;
    position: absolute;
  }
  .kitchen-statusbar {
    top: 0px;
    left: -6px;
    width: 390px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .kitchen-leftside {
    top: 1px;
    left: 0px;
    width: 54px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .kitchen-text27 {
    color: var(--dl-color-general-black);
    width: 54px;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: 22px;
  }
  .kitchen-rightside {
    top: 5px;
    left: 300.2664794921875px;
    width: 89.73352813720703px;
    height: 13px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .kitchen-battery {
    top: 0px;
    left: 57.96650314331055px;
    width: 31.76702880859375px;
    height: 13px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .kitchen-outline {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 13px;
    opacity: 0.35;
    position: absolute;
  }
  .kitchen-batteryend {
    top: 5px;
    left: 30.142581939697266px;
    width: 2px;
    height: 4px;
    opacity: 0.40;
    position: absolute;
  }
  .kitchen-fill {
    top: 2px;
    left: 2.3186612129211426px;
    width: 24px;
    height: 9px;
    position: absolute;
  }
  .kitchen-wifi {
    top: 1px;
    left: 30.1425838470459px;
    width: 20px;
    height: 12px;
    position: absolute;
  }
  .kitchen-mobilesignal {
    top: 1px;
    left: 0px;
    width: 21px;
    height: 12px;
    position: absolute;
  }
  